.ant-upload-wrapper {
  font-size: 12px !important;
  color: #ccc !important;
  margin-left: 4px;
}

.ant-upload-list-item,
.ant-upload-list-item-done,
.ant-upload-select,
.ant-upload-list-item-container {
  width: 80px !important;
  height: 118px !important;
}
.ant-upload-list-item::before {
  width: 100% !important;
  height: 100% !important;
}
.ant-upload-list-item-done {
  padding: 0 !important;
  overflow: hidden;
}

:where(
    .css-dev-only-do-not-override-6j9yrn
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-thumbnail
  img {
  object-fit: cover;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-upload-wrapper
  .ant-upload-list {
  display: flex;
}
.ant-upload-list-item-actions > a {
  display: none !important;
}
