:where(
    .css-dev-only-do-not-override-6j9yrn
  ).ant-picker-calendar.ant-picker-calendar-full
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-calendar-date {
  background: transparent;
}

:where(
    .css-dev-only-do-not-override-6j9yrn
  ).ant-picker-calendar.ant-picker-calendar-full
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-calendar-date {
  color: #222;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-avatar {
  width: 63px;
  height: 90px;
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-btn {
  background: #273f7c;
  color: #fff;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 0;
}

:where(.css-dev-only-do-not-override-6j9yrn) .ant-list-item-meta-content {
  padding-top: 20px;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-list .ant-list-item {
  border: 1px solid #ebebeb !important;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  padding-right: 15px;
}
